<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation targetFramework="4.0" debug="true" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers accessPolicy="Read, Write, Script, Execute">
			<add verb="*" path="*" type="Sammy.Sample.BootstrapHandler, Sammy.Sample" name="Site"/>
		</handlers>
	</system.webServer>
</configuration>
