!!!
%html
	%head
		%title Index Page
		%link{href="styles.css" rel="stylesheet" type="text/css"}
		%script{type="text/javascript" src="scripts/app.js"}
	%body
		%h1 This is the default page
		#content
			_ child